.App{
    height: 100vh;
    padding : 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.books{
    display: flex;

}

.book{
    flex:1
}

img {
    width:  200px;
    height: 300px;
    object-fit: cover;
    background-color: skyblue;
}

.delete{
    border: border solid 10px;
    border-color: black;
    padding: 3px 6px;
    background-color:  white;
    cursor: pointer;
    color:red
}

.update{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    color: skyblue
}